html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  background-color: grey;
  font-family: 'Helvetica';
  font-weight: lighter;
}

#root {
  display: flex;
}